body { 
font-size: 68px;
font-family: 'Times New Roman', Times, serif;
background-color: blanchedalmond;
}
div  {
    width: 65%;
    margin: auto;
    padding: 60px;
    background-color: azure;
    border-radius: 7%;
    h1 {
        color: darksalmon;
        text-align: center;
    }
    h2 {
        color: darkcyan;
        text-align: center;
    }
}
div {
    color: cornflowerblue;
    width:70%;
    margin: auto;
    margin: 45px;
}
a {
    text-decoration: none;
    font-size: 35px;
    color:#8FBC8F ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
img {
    max-width: 64%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: rgb(127, 156, 210);
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}
